body {
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	background-color: rgb(254, 251, 251);
}

th {
	color: rgb(255, 255, 255);
	background-color: rgb(55, 58, 90);
}

a {
	color: rgb(0,0,120);
}

td, th {
	padding: 5px;
}

table {
	border-collapse:collapse;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.subth {
	background-color: rgb(201, 200, 199);
	font-style: italic;
	font-weight: bold;
}

.navheader {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 50;

	box-shadow: 0px 0px 12px -2px rgb(0, 0, 0);
	background-color: rgb(61, 58, 55);
}


.navheader table, .navheader td, .navheader th,
.navfooter table, .navfooter td, .navfooter th {
	padding: 3px;
	border: 0px;
}

.navheader > a > img {
	position: fixed;
	left: 18px;
	top: 8px;
}

.navheader > table {
	width: 960px;
	margin: 0px auto;
}

.navheader th {
	background-color: rgb(61, 58, 55);
}

.navheader a {
	color: rgb(255,255,255);
}

.section, .chapter, .book, .appendix {
	margin: 80px auto;
	width: 960px;
}

.navfooter {
	margin: 0px auto;
	width: 960px;
	clear: both;
}

.figure, .informalfigure {
    clear: both;
    float: right;
    padding: 10px;
    background-color: rgb(254, 251, 251);
}

.figure p.title, .inlinefigure p.title, .informalfigure .informaltable td, .inlinefigure .informaltable td {
	font-size: 80%;
	font-weight: bold;
	width: 4cm;
}

.informalfigure .informaltable .inlinefigure td {
    word-wrap: break-word;
    width: 10px;
    padding: 1px 5px;
}

.guibutton {
    font-family: sans-serif;
    font-size: 90%;
    background: lightgrey;
    border-style: outset;
    border-width: 1px;
    padding-left: 2px;
    padding-right: 2px;
    white-space: nowrap;
}

.guimenu {
    font-family: monospace;
}

.guimenuitem {
    font-family: monospace;
}

.guilabel {
    font-style: italic;
}

.title {
	display: block;
	padding-top: 70px;
	margin-top: -70px;
}

.legalnotice, .copyright {
	font-size: smaller;
}

.term {
  font-style: italic;
}

.footer_copyright {
	font-size: 60%;
	color: rgba(0,0,0,0.3);
	width: 960px;
	margin: 0px auto;
	text-align: right;
	padding-top: 5px;
	clear: both;
}

.programlisting {
    background-color: white;
    padding: 20px;
}

.comment {
	color: green;
}

.warning {
	color: red;
}

.ovito-pro-tag {
	background-color: rgb(230,230,50);
	color: rgb(0,0,0);
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	font-size: 80%;
	font-weight: bold;
	vertical-align: baseline;
	border-radius: 0.25rem;
	padding: 2px 3px;
	margin-left: 0.2rem;
}
.navheader .ovito-pro-tag,.navfooter .ovito-pro-tag {
    display: none;
};

[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
    padding: 4px;
}
/* Tooltip styling */
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #000;
    color: #fff;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.4;
    min-width: 100px;
    text-align: center;
    border-radius: 4px;
}
/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
[data-tooltip-position="top"]:before {
    bottom: 100%;
    margin-bottom: 6px;
}
[data-tooltip-position="right"]:before {
    left: 100%;
    margin-left: 6px;
}
[data-tooltip-position="bottom"]:before {
    top: 100%;
    margin-top: 6px;
}
[data-tooltip-position="left"]:before {
    right: 100%;
    margin-right: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
    left: 50%;
    margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
    top: 50%;
    margin-top: -6px;
}
[data-tooltip-position="top"]:after {
    bottom: 100%;
    border-width: 6px 6px 0;
    border-top-color: #000;
}
[data-tooltip-position="right"]:after {
    left: 100%;
    border-width: 6px 6px 6px 0;
    border-right-color: #000;
}
[data-tooltip-position="bottom"]:after {
    top: 100%;
    border-width: 0 6px 6px;
    border-bottom-color: #000;
}
[data-tooltip-position="left"]:after {
    right: 100%;
    border-width: 6px 0 6px 6px;
    border-left-color: #000;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}